<div class="modal-header dialog-header-error">
    <button type="button" class="close" ng-click="no()">&times;</button>
    <h4 class="modal-title text-danger">
        <span class="fa fa-exclamation-triangle"></span> <span ng-bind-html="data.title"></span></h4>
</div>
<div data-ng-if="data.description" class="modal-body text-danger" data-ng-bind-html="data.description" id="error-pop-body"></div>
<div data-ng-if="data.partialHTML" data-ng-include="data.partialHTML"></div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-5">
            <label class="c-checkbox" data-ng-if="data.dontShowAgain">
                <input type="checkbox" name="dontShowAgain" data-ng-model="data.dontShowAgainCheck">
                <span class="fa fa-check"></span>
                {{data.dontShowAgain}}
            </label>
        </div>
        <div class="col-xs-7">
            <button type="button" class="btn btn-default" data-ng-click="no()" id="btn-error-pop-close">{{'global.close' | translate}}</button>
        </div>
    </div>
</div>
<center-dialog/>
