.event-group-field-container {
    padding-left: 0px;
}

.event-group-input-container {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.error-container {
    text-align: left;
}