<div class="row">
    <div class="col-md-7 summary-dates">
        <data-ng-form name="admReporting.datesForm">
            <div class="col-md-4 start-date">
                <div class="form-group" data-ng-class="{'has-error': admReporting.datesForm.startDate.$invalid}">
                    <label for="startDate" class="control-label">{{ 'global.startDate' | translate }}</label>
                    <div class="input-group input-date">
                        <input type="text"
                               id="startDate"
                               name="startDate"
                               data-datepicker-popup="{{admReporting.formatDate}}"
                               data-ng-model="admReporting.startDate"
                               data-is-open="admReporting.startDateOpened"
                               data-datepicker-options="admReporting.dateOptions"
                               data-close-text="{{ 'global.close' | translate }}"
                               masked
                               data-inputmask="'alias': 'mm/dd/yyyy', 'placeholder': 'MM/DD/YYYY'"
                               data-ng-blur="admReporting.updateDates()"
                               data-ng-change="admReporting.reloadMetrics()"
                               class="form-control"
                               required/>
                              <span class="input-group-btn">
                                 <button type="button" data-ng-click="admReporting.openStartDate($event)" class="btn btn-default">
                                     <em class="fa fa-calendar"></em>
                                 </button>
                              </span>
                    </div>
                    <p class="help-block"
                       data-ng-if="admReporting.datesForm.startDate.$error.required">
                        {{'validation.error.required' | translate}}
                    </p>
                    <p class="help-block"
                       data-ng-if="admReporting.datesForm.startDate.$error.date">
                        {{'validation.error.invalidDate' | translate}}
                    </p>
                    <p class="help-block"
                       data-ng-if="admReporting.datesForm.startDate.$error.lowerThan">
                        {{'campaign.date.error.initDate' | translate}}
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="progress-wrapper text-center">
                    <div class="progress ng-cloak" ng-style="admReporting.radialProgressStyle">{{ admReporting.radialProgress.preciseCurrent || admReporting.radialProgress.current }}%</div>
                    <div
                        round-progress
                        max="admReporting.radialProgress.max"
                        current="admReporting.radialProgress.current"
                        bgcolor="{{ admReporting.radialProgress.bgColor }}"
                        radius="{{ admReporting.radialProgress.radius }}"
                        semi="admReporting.radialProgress.isSemi"
                        rounded="admReporting.radialProgress.rounded"
                        stroke="{{ admReporting.radialProgress.stroke }}"
                        clockwise="admReporting.radialProgress.clockwise"
                        responsive="admReporting.radialProgress.responsive"
                        duration="{{ admReporting.radialProgress.duration }}"
                        animation="{{ admReporting.radialProgress.currentAnimation }}"
                        color="#3B6C00"
                        offset="{{ admReporting.radialProgress.offset }}"
                        animation-delay="{{ admReporting.radialProgress.animationDelay }}"
                        on-render="admReporting.showPreciseCurrent">
                    </div>
                </div>
            </div>

            <div class="col-md-4 end-date">
                <div class="form-group" data-ng-class="{'has-error': admReporting.datesForm.endDate.$invalid}">
                    <label for="endDate" class="control-label">{{ 'global.endDate' | translate }}</label>
                    <div class="input-group input-date">
                        <input type="text"
                               id="endDate"
                               name="endDate"
                               data-datepicker-popup="{{admReporting.formatDate}}"
                               data-ng-model="admReporting.endDate"
                               data-is-open="admReporting.endDateOpened"
                               data-min-date="admReporting.startDate"
                               data-datepicker-options="admReporting.dateOptions"
                               data-close-text="{{ 'global.close' | translate }}"
                               masked
                               data-inputmask="'alias': 'mm/dd/yyyy', 'placeholder': 'MM/DD/YYYY'"
                               data-ng-blur="admReporting.updateDates()"
                               data-ng-change="admReporting.reloadMetrics()"
                               lower-than="{{admReporting.startDate}}"
                               class="form-control"
                               required/>
                              <span class="input-group-btn">
                                 <button type="button" data-ng-click="admReporting.openEndDate($event)" class="btn btn-default">
                                     <em class="fa fa-calendar"></em>
                                 </button>
                              </span>
                    </div>
                    <p class="help-block"
                       data-ng-if="admReporting.datesForm.endDate.$error.required">
                        {{'validation.error.required' | translate}}
                    </p>
                    <p class="help-block"
                       data-ng-if="admReporting.datesForm.endDate.$error.date">
                        {{'validation.error.invalidDate' | translate}}
                    </p>
                    <p id="lowerThanError" class="help-block"
                       data-ng-if="admReporting.datesForm.endDate.$error.lowerThan">
                        {{'campaign.date.error.endDate' | translate}}
                    </p>
                </div>
            </div>
        </data-ng-form>

    </div>
    <div class="col-md-5 summary-details">
        <div class="col-md-4 panel widget metrics-panel details-content summary-attempts">
            <div class="row metrics-table metrics-flush details-background">
                <div class="metrics-row">
                    <div class="col-md-2 bl-m bt-m bb-m br-m">
                        <div class="metrics-table metrics-flush metric-cnt">
                            <div class="row metrics-row">
                                <div class="col-md-2 col-md-offset-3 icon-right">
                                    <em class="fa fa-eye fa-2x"></em>
                                </div>
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <h4 class="mt0">{{admReporting.metrics.summary.engagements | number}}</h4>
                                        <p class="mb0 text-muted">{{'adm.summary.attempts' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 panel widget metrics-panel details-content summary-matches">
            <div class="row metrics-table metrics-flush details-background">
                <div class="metrics-row">
                    <div class="col-md-2 bl-m bt-m bb-m br-m">
                        <div class="metrics-table metrics-flush metric-cnt">
                            <div class="row metrics-row">
                                <div class="col-md-2 col-md-offset-3 icon-right">
                                    <em class="fa fa-files-o fa-2x"></em>
                                </div>
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <h4 class="mt0">{{admReporting.metrics.summary.matched | number}}</h4>
                                        <p class="mb0 text-muted">{{'adm.summary.matches' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 panel widget metrics-panel details-content summary-updates">
            <div class="row metrics-table metrics-flush details-background">
                <div class="metrics-row">
                    <div class="col-md-2 bl-m bt-m bb-m br-m">
                        <div class="metrics-table metrics-flush metric-cnt">
                            <div class="row metrics-row">
                                <div class="col-md-2 col-md-offset-3 icon-right">
                                    <em class="fa fa-refresh fa-2x"></em>
                                </div>
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <h4 class="mt0">{{admReporting.metrics.summary.updated | number}}</h4>
                                        <p class="mb0 text-muted">{{'adm.summary.updates' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
