<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         id="WebApp_ID">
    
    <display-name>tpasapi</display-name>
    
    <filter>
        <filter-name>Trueffect tpasapi Service</filter-name>
        <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>trueffect.truconnect.api.tpasapi.service; trueffect.truconnect.api.tpasapi.service.stubs</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
            <param-value>/(.*html|((ui|css)/*.*))</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>trueffect.truconnect.api.commons.filter.web.JerseyCorsFilter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Trueffect tpasapi Service</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
