<div>
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">{{'creative.uploadCreativeToCampaignAndAssign' | translate}}</div>
        <div class="panel-body">
            <form name="vmAdd.formWizard" form-wizard="" steps="2" novalidate="" data-cg-busy="vmAdd.promise">
                <div class="form-wizard wizard-horizontal">
                    <!-- START wizard steps indicator-->
                    <ol class="row">
                        <li data-ng-class="{'active':wizard.active(1)}" class="col-md-3">
                            <h4>{{'global.uploadNew' | translate}}</h4>
                            <small class="text-muted">{{'creative.uploadCreativeToCampaign' | translate}}</small>
                        </li>
                        <li data-ng-class="{'active':wizard.active(2)}" class="col-md-3">
                            <h4>{{'global.assign' | translate}}</h4>
                            <small class="text-muted">{{'creative.assignToGroup' | translate}}</small>
                        </li>
                    </ol>
                    <!-- END wizard steps indicator-->
                    <!-- START Wizard Step inputs -->
                    <div data-ng-show="wizard.active(1)">
                        <div data-ng-include="'app/cm/campaigns/creative-tab/creative-add/upload/upload.html'"></div>
                        <div class="btn-right-bottom">
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-click="vmAdd.cancel()">
                                    {{'global.cancel' | translate}}
                                </a>
                                <a class="btn btn-primary" a-disabled="!vmAdd.STEP.UPLOAD.isValid" href=""
                                   data-ng-click="vmAdd.activateStep(vmAdd.STEP.ASSIGN); wizard.go(2)">
                                    {{'global.next' | translate}} <span>&rarr;</span></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END Wizard Step inputs -->
                    <!-- START Wizard Step inputs -->
                    <div data-ng-show="wizard.active(2)">
                        <fieldset>
                            <legend>{{'global.assign' | translate}}</legend>
                            <div data-ng-include="'app/cm/campaigns/creative-tab/creative-add/assign/assign.html'"></div>
                        </fieldset>
                        <div class="btn-right-bottom">
                            <div class="pull-left">
                                <a class="btn btn-default" href="" data-ng-click="wizard.go(1)">
                                    <span>&larr;</span> {{'global.previous' | translate}}
                                </a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-click="vmAdd.cancel()">
                                    {{'global.cancel' | translate}}
                                </a>
                                <a class="btn btn-primary" a-disabled="!vmAdd.STEP.ASSIGN.isValid" href=""
                                   data-ng-click="vmAdd.save()">
                                    {{'global.save' | translate}}
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END Wizard Step inputs -->
                </div>
            </form>
        </div>
    </div>
    <!-- END panel -->
</div>
