<!DOCTYPE html>
<html>
<title>TruEffect Public API Documentation</title>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
