<div data-ng-controller="CampaignCreativeAssignController as vm" data-cg-busy="vm.promise">
    <div class="col-md-12 information-div pt pb margin-bottom20"
         data-ng-show="vm.hasVersionedCreatives">
        {{'creative.upload.creativeVersioned.assign' | translate}}
    </div>
    <te-table data-empty-message="'global.listEmpty' | translate"
              data-model="vm.creativeGroups"
              data-ng-show="vm.hasNewCreatives"
              data-pinned-rows="{name: vm.DEFAULT_NAME}"
              data-selection-mode="MULTI"
              data-te-table-select="vm.selectRows($selection)">
        <te-table-secondary-btns>
            <span>{{vm.selectedRows.length}} {{'global.selected' | translate}}</span>
        </te-table-secondary-btns>
        <table>
            <tr id="creativeGroup{{creativeGroup.id}}Selected" data-ng-repeat="creativeGroup in $data">
                <td id="creativeGroup{{creativeGroup.id}}Name"
                    data-title="'global.name' | translate"
                    data-searchable="true"
                    data-sortable="'name'"
                    class="wrap-text-td">
                    {{creativeGroup.name}}
                </td>
                <td id="creativeGroup{{creativeGroup.id}}Priority"
                    class="text-center"
                    data-title="'creativeGroup.priority' | translate"
                    data-sortable="'priority'">
                    {{creativeGroup.priority}}
                </td>
                <td id="creativeGroup{{creativeGroup.id}}CookieTargeting" class="text-center"
                    data-title="'creativeGroup.cookieTargeting.label' | translate"
                    data-sortable="'doCookieTargeting'">
                    <i class="fa fa-times" data-ng-if="creativeGroup.doCookieTargeting !== 1"></i>
                    <i class="fa fa-check" data-ng-if="creativeGroup.doCookieTargeting === 1"></i>
                </td>
                <td id="creativeGroup{{creativeGroup.id}}GeoTargeting"
                    class="text-center"
                    data-title="'creativeGroup.geoTargeting' | translate"
                    data-sortable="'doGeoTargeting'">
                    <i class="fa fa-times" data-ng-if="creativeGroup.doGeoTargeting !== 1"></i>
                    <i class="fa fa-check" data-ng-if="creativeGroup.doGeoTargeting === 1"></i>
                </td>
                <td id="creativeGroup{{creativeGroup.id}}DayPartTargeting" class="text-center"
                    data-title="'creativeGroup.dayPartTargeting' | translate"
                    data-sortable="'doDaypartTargeting'">
                    <i class="fa fa-times" data-ng-if="creativeGroup.doDaypartTargeting !== 1"></i>
                    <i class="fa fa-check" data-ng-if="creativeGroup.doDaypartTargeting === 1"></i>
                </td>
                <td id="creativeGroup{{creativeGroup.id}}Creative"
                    class="text-center"
                    data-title="'creative.creative' | translate"
                    data-sortable="'numberOfCreativesInGroup'">
                    {{creativeGroup.numberOfCreativesInGroup | number}}
                </td>
                <td id="creativeGroup{{creativeGroup.id}}IsDefault" class="text-center"
                    data-title="'global.default' | translate"
                    data-sortable="'isDefault'">
                    <i class="fa fa-check" data-ng-if="creativeGroup.isDefault === 1"></i>
                </td>
            </tr>
        </table>
    </te-table>
</div>
