<div class="row-fluid">
    <label id="enableExtractableCookiesLabel" class="switch padding-top16 padding-bottom7 label-information">
        <input id="enableExtractableCookies"
               name="enableExtractableCookies"
               type="checkbox"
               data-ng-model="vmConfig.admConfig.cookiesToCapture.enabled"
               data-ng-change="vmConfig.removeEmptyCookies(vmConfig.admConfig.extractableCookiesArray, vmConfig.admConfig.cookiesToCapture.enabled, vmConfig.extractableCookiesForm)">
        <span></span>
        <strong>{{'adm.extractableCookies' | translate}}</strong>
    </label>
    <i class="fa fa-info-circle" data-toggle="tooltip" title="{{'adm.extractableCookiesTooltip' |  translate}}"></i>
</div>
<fieldset data-ng-form name="vmConfig.extractableCookiesForm"
          data-ng-disabled="!vmConfig.admConfig.cookiesToCapture.enabled"
          class="form-horizontal adm-configuration-partial-bordered"
          novalidate>
    <ul id="extractableCookiesList"
        dnd-disable-if="!vmConfig.admConfig.cookiesToCapture.enabled"
        dnd-list="vmConfig.admConfig.extractableCookiesArray"
        dnd-allowed-types="vmConfig.admConfig.extractableCookiesArray"
        class="adm-configuration-cookies-scrollbar">
        <li data-ng-repeat="item in vmConfig.admConfig.extractableCookiesArray"
            dnd-disable-if="!vmConfig.admConfig.cookiesToCapture.enabled"
            data-ng-model-options="{allowInvalid: true}"
            dnd-draggable="item"
            dnd-moved="vmConfig.cookiesValidation(item.sequence, vmConfig.extractableCookiesForm, vmConfig.admConfig.extractableCookiesArray, $index)"
            dnd-effect-allowed="move"
            dnd-type="item"
            class="list-group-item">
            <div class="form-group input-group"
                 data-ng-class="{'has-error': vmConfig.extractableCookiesForm[item.sequence].$dirty && vmConfig.extractableCookiesForm[item.sequence].$invalid}">
                <span class="input-group-addon white-numeration">{{$index + 1}}</span>
                <span class="input-group-addon"><em class="fa fa-reorder"></em></span>
                <input class="form-control"
                       id="{{item.sequence}}"
                       name="{{item.sequence}}"
                       type="text"
                       data-ng-model="item.cookieName"
                       data-ng-model-options="{allowInvalid: true}"
                       placeholder="{{'adm.enterCookieName' | translate}}"
                       validate-duplicate = "vmConfig.getArrayFromObjectByField(vmConfig.admConfig.extractableCookiesArray)"
                       form-duplicates = "vmConfig.extractableCookiesForm"
                       data-ng-required="vmConfig.admConfig.extractableCookiesArray.length > 0 && vmConfig.admConfig.cookiesToCapture.enabled">
                <span class="input-group-btn" data-ng-if="vmConfig.admConfig.extractableCookiesArray.length > 1">
                    <button class="btn btn-default"
                            type="button"
                            data-ng-click="vmConfig.removeCookie(vmConfig.admConfig.extractableCookiesArray, $index, vmConfig.extractableCookiesForm)">
                        <em class="fa fa-trash"></em>
                    </button>
                </span>
            </div>
            <p class="help-block help-message-color"
               data-ng-if="vmConfig.extractableCookiesForm[item.sequence].$dirty && vmConfig.extractableCookiesForm[item.sequence].$error.required">
                {{'validation.error.required' | translate}}
            </p>
            <p class="help-block help-message-color"
               data-ng-if="vmConfig.extractableCookiesForm[item.sequence].$dirty && vmConfig.extractableCookiesForm[item.sequence].$error.duplicatedField && !vmConfig.extractableCookiesForm[item.sequence].$error.required">
                {{'adm.error.duplicatedCookieNameFound' | translate}}
            </p>
        </li>
    </ul>
    <div class="form-group padding-right0 padding-bottom7">
        <div class="pull-right">
            <button data-ng-click="vmConfig.addCookie(vmConfig.admConfig.extractableCookiesArray, '#extractableCookiesList')"
                    id="addExtractableCookie"
                    class="btn btn-info btn-right-bottom"
                    data-ng-disabled="vmConfig.extractableCookiesForm.$invalid">
                {{'global.add' | translate}}
            </button>
        </div>
    </div>
</fieldset>
