<div class="placement-add">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">{{'placement.wizardHeader' | translate}}</div>
        <div class="panel-body">
            <form name="vmAdd.formWizard" form-wizard="" steps="2" novalidate="" data-cg-busy="vmAdd.promiseRequest">
                <div class="form-wizard wizard-horizontal">
                    <!-- START wizard steps indicator-->
                    <ol class="row">
                        <li data-ng-class="{'active':wizard.active(1)}" class="col-md-3">
                            <h4>{{'placement.placementDetails' | translate}}</h4>
                            <small class="text-muted">{{'placement.enterPlacementDetails' | translate}}</small>
                        </li>
                        <li data-ng-class="{'active':wizard.active(2)}" class="col-md-3">
                            <h4>{{'placement.addPlacementProperties' | translate}}</h4>
                            <small class="text-muted">{{'placement.enterCostFlightInformation' | translate}}</small>
                        </li>
                    </ol>
                    <!-- END wizard steps indicator-->
                    <!-- START Wizard Step inputs -->
                    <div data-ng-show="wizard.active(1)">
                        <fieldset>
                            <legend class="long-text-wrapper">{{'placement.addPlacementProperties' | translate}}</legend>
                            <div data-ng-include="'app/cm/campaigns/io-tab/placement-tab/placement-add/details/details.html'"></div>
                        </fieldset>
                        <div>
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-click="vmAdd.cancel()">
                                    {{'global.cancel' | translate}}
                                </a>
                                <a class="btn btn-primary" a-disabled="!vmAdd.STEP.DETAILS.isValid" href=""
                                   data-ng-click="vmAdd.activateStep(vmAdd.STEP.PROPERTIES); wizard.go(2);">
                                    {{'global.next' | translate}} <span>&rarr;</span></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END Wizard Step inputs -->
                    <!-- START Wizard Step inputs -->
                    <div data-ng-show="wizard.active(2)">
                        <fieldset>
                            <legend class="long-text-wrapper">{{'placement.addPlacementProperties' | translate}}</legend>
                            <div data-ng-include="'app/cm/campaigns/io-tab/placement-tab/placement-add/properties/properties.html'"></div>
                        </fieldset>
                        <div>
                            <div class="pull-left">
                                <a class="btn btn-default" href="" data-ng-click="wizard.go(1)">
                                    <span>&larr;</span> {{'global.previous' | translate}}
                                </a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default" data-ng-click="vmAdd.cancel()">
                                    {{'global.cancel' | translate}}
                                </a>
                                <a class="btn btn-primary" a-disabled="!vmAdd.STEP.PROPERTIES.isValid" href=""
                                   data-ng-click="vmAdd.save()">
                                    {{'global.save' | translate}}
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- END Wizard Step inputs -->
                </div>
            </form>
        </div>
    </div>
    <!-- END panel -->
</div>
