<div class="col-md-12">
    <fieldset class="panel panel-default">
        <div class="panel-body col-md-4">
            <div class="form-group"
                 data-ng-class="{'has-error': vm.nameForm.trackingTagName.$dirty && vm.nameForm.trackingTagName.$invalid}">
                <label for="trackingTagName" class="control-label">{{'global.name' | translate}}:</label>
                <input id="trackingTagName"
                       name="trackingTagName"
                       class="form-control"
                       type="text"
                       data-ng-model="vmAddTrackingTag.trackingTagName"
                       data-ng-pattern="vm.namePattern"
                       maxlength="{{vm.maxLength}}"
                       autocomplete="off"
                       required/>
                <p class="help-block"
                   data-ng-if="vm.nameForm.trackingTagName.$dirty && vm.nameForm.trackingTagName.$error.required">
                    {{'validation.error.required' | translate}}
                </p>
                <p class="help-block"
                   data-ng-if="vm.nameForm.trackingTagName.$dirty && vm.nameForm.trackingTagName.$error.pattern">
                    {{'validation.error.alphanumeric' | translate}}
                </p>
            </div>
        </div>
        <div class="panel-body col-md-4">
            <div class="form-group"
                 data-ng-class="{'has-error': vm.nameForm.tagContent.$dirty && vm.nameForm.tagContent.$invalid}">
                <label class="control-label">{{'tagInjection.tagContent' | translate}}:</label>
                <textarea class="form-control"
                          id="tagContent"
                          name="tagContent"
                          type="text"
                          rows="6"
                          data-ng-model="vmAddTrackingTag.htmlContent"
                          data-ng-maxlength="{{vm.contentMaxLength}}"
                          data-ng-change="vm.validateHtmlContent(vmAddTrackingTag.htmlContent, 'tagContent')">
                </textarea>
                <p id="tagContentMaxLength" class="help-block"
                   data-ng-if="vm.nameForm.tagContent.$dirty && vm.nameForm.tagContent.$error.maxlength"
                   translate="validation.error.maxlength"
                   translate-values="{length: vm.contentMaxLength}">
                </p>
                <p id="tagContentHtmlContent" class="help-block"
                   data-ng-if="vm.nameForm.tagContent.$dirty && vm.nameForm.tagContent.$error.contentHtmlValid">
                    {{'tagInjection.error.html' | translate}}
                </p>
                <p id="tagContentHtmlRequired" class="help-block"
                   data-ng-if="vm.nameForm.tagContent.$dirty && vm.nameForm.tagContent.$error.contentHtmlRequired">
                    {{'tagInjection.error.htmlEmpty' | translate}}
                </p>
            </div>
        </div>
        <div class="panel-body col-md-4">
            <div class="form-group"
                 data-ng-class="{'has-error': vm.nameForm.tagSecureContent.$dirty && vm.nameForm.tagSecureContent.$invalid}">
                <label class="control-label">{{'tagInjection.secureTagContent' | translate}}:</label>
                <textarea class="form-control"
                          id="tagSecureContent"
                          name="tagSecureContent"
                          type="text"
                          rows="6"
                          data-ng-model="vmAddTrackingTag.secureHtmlContent"
                          data-ng-maxlength="{{vm.contentMaxLength}}"
                          data-ng-change="vm.validateHtmlContent(vmAddTrackingTag.secureHtmlContent, 'tagSecureContent')">
                </textarea>
                <p id="tagSecureContentMaxLength" class="help-block"
                   data-ng-if="vm.nameForm.tagSecureContent.$dirty && vm.nameForm.tagSecureContent.$error.maxlength"
                   translate="validation.error.maxlength"
                   translate-values="{length: vm.contentMaxLength}">
                </p>
                <p id="tagSecureContentHtmlContent" class="help-block"
                   data-ng-if="vm.nameForm.tagSecureContent.$dirty && vm.nameForm.tagSecureContent.$error.contentHtmlValid">
                    {{'tagInjection.error.html' | translate}}
                </p>
                <p id="tagSecureContentHtmlRequired" class="help-block"
                   data-ng-if="vm.nameForm.tagSecureContent.$dirty && vm.nameForm.tagSecureContent.$error.contentHtmlRequired">
                    {{'tagInjection.error.htmlEmpty' | translate}}
                </p>
            </div>
        </div>
    </fieldset>
</div>
