<h5>{{'siteMeasurement.campaignAssociation.unassociatedDisplayCampaigns' | translate}}:</h5>
<te-table data-model="inputModel"
          data-empty-message="'global.listEmpty' | translate"
          data-filter-values="externalController.unassociatedFilterValues"
          data-te-table-select="makeSelectionInputModel($selection)"
          data-te-table-filter="filteredDataInputModel($filtered)"
          data-selection-mode="MULTI"
          data-page-size="{{externalController.pageSize}}">
    <te-table-secondary-btns>
        <dropdown-multicheckbox data-ng-repeat="option in externalController.unassociatedFilterOption"
                                data-input-model="option.value"
                                data-output-model="externalController.unassociatedFilterValues[$index].values"
                                data-events="externalController.unassociatedActionFilter[$index]"
                                data-title="option.text">
        </dropdown-multicheckbox>
    </te-table-secondary-btns>
    <table>
        <tr class="actionable-row" data-ng-repeat="object in $data">
            <td data-title="'global.name' | translate"
                data-searchable="true"
                data-sortable="'campaignName'"
                class="sm-association-name-column">
                {{object.campaignName}}
            </td>
            <td data-title="'global.advertiser' | translate"
                data-searchable="true"
                data-sortable="'advertiserName'"
                class="sm-association-advertiser-column">
                {{object.advertiserName}}
            </td>
            <td data-title="'global.brand' | translate"
                data-searchable="true"
                data-sortable="'brandName'"
                class="sm-association-advertiser-column">
                {{object.brandName}}
            </td>
            <td data-title="'global.status' | translate"
                data-searchable="true"
                data-sortable="'status'">
                {{object.status}}
            </td>
        </tr>
    </table>
</te-table>
