<h3 id="campaignsHeader">{{'global.tagInjection' | translate}}</h3>
<a id="listOfCampaignBtn"
   data-ng-if="vmTagInjectionTab.campaignSelected.id" class="btn btn-default margin-bottom10" data-ng-click="vmTagInjectionTab.backToCampaign()">
    <i class="fa fa-angle-left"></i> {{'tagInjection.backToCampaign' | translate}}
</a>
<ul class="nav nav-tabs">
    <li id="tagInjectionTab" data-ui-sref-active="active">
        <a data-ui-sref="tag-injection-tab">
            {{'global.placements' | translate}}
        </a>
    </li>
    <li id="selectorBrand" class="selectors col-md-3">
        <select id="brandSelect"
                name="brandSelect"
                class="form-control"
                data-ng-model="vmTagInjectionTab.brand"
                data-ng-options="brand.name for brand in vmTagInjectionTab.listBrands track by brand.id"
                data-ng-change="vmTagInjectionTab.selectBrand(vmTagInjectionTab.brand)"
                data-ng-disabled="vmTagInjectionTab.advertiser.id < 0"
                data-ng-focus="vmTagInjectionTab.oldBrand = vmTagInjectionTab.brand"
                required>
        </select>
    </li>
    <li id="selectorAdvertiser" class="selectors col-md-3">
        <select id="advertiserSelect"
                name="advertiserSelect"
                class="form-control"
                data-ng-model="vmTagInjectionTab.advertiser"
                data-ng-options="advertiser.name for advertiser in vmTagInjectionTab.listAdvertisers track by advertiser.id"
                data-ng-change="vmTagInjectionTab.selectAdvertiser(vmTagInjectionTab.advertiser)"
                data-ng-focus="vmTagInjectionTab.oldAdvertiser = vmTagInjectionTab.oldAdvertiser"
                required>
        </select>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" data-ui-view></div>
</div>
