node_modules
public
.tmp
.idea
client/bower_components
dist
server/config/local.env.js
client/app/cm/locale/translate/*
client/app/config/*.js
server/config/local.env.js
client/views/partials/version.html